body{
    color: rgb(138, 140, 141);
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(181, 184, 185);
}

#caja{
    margin-left: 400px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 300px;
}

h1{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
}

h6{
    margin-bottom: 1px;
}

#cabecera{
    border: solid 1px rgb(181, 184, 185);
    width: 400px;
    height: 50px;
    background-color:rgb(245, 241, 241);
}

#cuerpo{
    margin-left: 15px;
}



#mostrar{
    border-radius: 3px;
    color: white;
    margin-right: 60px;
    background-color: rgb(38, 119, 224);

}

#establecer{
    border-radius: 3px;
    background-color: rgba(55, 196, 97, 0.986);
    color: white;

}



select{
    border-radius: 3px;
    width: 360px;
}